.fab {
  margin: 30px;
}

.content {
  background-color: white;
  color: #4B4B4C;
  padding: 20px;
  opacity: 0.9;
  border: #4B4B4C 1px solid;
  border-radius: 30px;
  font-size: 20px;
}

#profilePic {
  background-color: #fa3838;
  margin: 15vh 0 2vh 0;
}

.btn {
  color: white;
  margin-bottom: 1px;
  border-radius: 0;
}

.btn:hover {
  color: white;
  border-bottom: solid 2px white;
}

#footer {
  background-color: #4B4B4C;
  height: 20vh;
  margin: 0;
}

#sideSection {
  background-color: #fa3838;
}

.text-light {
  color: #4B4B4C;
}

.socialIcons:hover {
  font-size: 34px;
}
