//variables & some bootstrap overrides¨
$font-family-base:'Poppins', sans-serif;
$border-width: 0.5px;
$border-radius: 30px;
$spacer:2rem;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  85: 85%,
  95: 95%,
  100: 100%,
);
$theme-colors: (
  "primary": #4B4B4C,
  "danger": #fa3838,
  "secondary" : white
);

.contentDivs{
  opacity: 0.8;
}


//Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


